# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build de producción
dist/
build/

# Archivos de sistema (macOS y Windows)
.DS_Store
Thumbs.db

# Variables de entorno (¡Muy importante por seguridad!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor (VS Code)
.vscode/
.ideajh/
*.suo
*.ntvs
*.Njsproj
*.sln
*.sw?